page-home {

    .square-panel {
        padding: 5px 10px;
        text-align: center !important;
        border-bottom: 1px solid #e0dfe4;
        border-right: 1px solid #e0dfe4;
    }
    .small {
        border: none !important;
    }
    .square-tip {
        padding-bottom: 8px;
    }
    .square-button {
        // padding: 50% 0 !important;
        border-radius: 10px;
    }

    .grid{
        background-color:white !important;
    }

    .row{
        border-left: 1px solid #e0dfe4;
        border-top: 1px solid #e0dfe4;
    }
}