page-logon {
    .login-content {
        background: url("../assets/imgs/logon.png") no-repeat center;
        background-size: cover;
    }
    .scroll-content{
        background: url("../assets/imgs/logon.png") no-repeat center;
        background-size: cover;
    }
    .avator-container {
        width: 12em;
        height: 12em;
        margin: 0 auto;
    }
    .avator-container .avator {
        width: 100%;
        margin: 0 auto;
    }

    .avator>img{
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }
    .list{
        background-color: transparent !important;
    }
    .item{
        background-color: transparent !important;
        border-bottom: 1px solid #E6E6E7 !important;
        color: white;
    }
    .avator-name{
        color: white !important;
    }
    
    // .input-container {
    //     border: 1px solid #E6E6E7;
    //     border-top: 0;
    //     border-left: 0;
    //     border-right: 0;
    // }
    // .logon-input {
    //     width: 80%;
    //     height: 2em;
    //     font-size: 1.5em;
    //     color: white;
    //     border: 0;
    //     margin-left: 0.5em;
    //     background: rgba(0, 0, 0, 0);
    // }
    .icon{
        color: white !important;
    }
    input::-webkit-input-placeholder{ /*WebKit browsers*/
        color: #e5e5e5 !important;
        font-size: 14px ;
    }
    // .logon-icon {
    //     zoom: 1.5;
    //     border: 0;
    //     padding: 0; 
    //     color: white;
    // }
    .verify-container {
        text-align: center;
        height: 2em;
        margin: 5px auto;
    }
    .verify-container .verify-link {
        color: white;
    }
}