<ion-header></ion-header>

<ion-content padding class="login-content">

  <form #logonForm="ngForm" (ngSubmit)="login()">
    <div padding class="avator-container">
      <div *ngIf="LogonedUsr.length==0">
        <img [src]="model.ImgPath" />
      </div>
      <ion-slides (ionSlideDidChange)="slideChanged()" speed="1000">
        <ion-slide *ngFor="let item of LogonedUsr">
          <div class="avator">
            <img [src]="item.ImgPath?item.ImgPath:model.ImgPath" />
          </div>
          {{item.UserName}}
        </ion-slide>
      </ion-slides>
    </div>

    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10 class="input-container">
        <ion-icon name="person" class="logon-icon"></ion-icon>
        <input type="text" class="logon-input" placeholder="请输入用户名" required [(ngModel)]="model.LoginName" name="LoginName" />

      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10 class="input-container">
        <ion-icon name="lock" class="logon-icon"></ion-icon>
        <input type="password" class="logon-input" placeholder="请输入密码" required [(ngModel)]="model.Password" name="Password" />
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>

    <div padding class="set-content" (click)="svrSetting()">
      <span>服务配置</span>
    </div>

    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <button ion-button full round [disabled]="!logonForm.form.valid" color="light" type="submit">登录</button>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>
  </form>

</ion-content>

<ion-footer>
  <div class="verify-container">
    <a class="verify-link" (click)="onVerifyChange()">手势密码</a>
  </div>
</ion-footer>