page-home-stat-area {
    .loginMask {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 999;
        opacity: 1;
        text-align: center;
        color: white;
        font-size: 1.5em;
        padding-top: 20%; 
    }
    .slide-zoom {
        height: 100% !important;
    }
    .swiper-slide img {
        width: 100% !important;
        height: 100% !important;
    }
    ion-avatar img {
        width: 5em !important;
        height: 5em !important;
        max-width: 5em !important; //any size
        max-height: 5em !important; //any size
        margin: 3em auto 0.5em auto;
        zoom: 5em;
    }

    .adv1{
        background: url('../assets/imgs/ads1.jpg') no-repeat center !important;
    }
    .adv2{
        background: url('../assets/imgs/ads2.jpg') no-repeat center !important;
    }
}