page-UploadPatrol{
    span.positive {
        color: #3D81F5;
    }

    span.assertive{
        color: #F05C51; 
    }
    .item{
        border-top: 1px solid #e0dfe4 !important;
    }

    .grid{
        border-bottom: 1px solid #e0dfe4 !important;
        background: #fff;
    }
}