<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text>取消</span>
            </button>
        </ion-buttons>
        <ion-title>
            {{curMach.NodeName}}
        </ion-title>
        <ion-buttons end>
            <ion-label color="light">
                {{MeasNode.nIdx}}/{{PointCnt}}
            </ion-label>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <form #ObsForm="ngForm" (ngSubmit)="saveObsData()">
        <ion-list>
            <ion-item-divider>
                <ion-icon name="help-circle" color="primary"></ion-icon>
                {{MeasLocation.NodeName}} - {{MeasNode.NodeName}}
            </ion-item-divider>
            <ion-item *ngFor="let item of PtObs">
                <ion-label>{{item.NAME}}</ion-label>
                <ion-radio (ionSelect)="getObsValues(item)" [(checked)]="item.selected"></ion-radio>
            </ion-item>
            <ion-item-divider>
                <h4>备注说明</h4>
            </ion-item-divider>
            <ion-item>
                <ion-textarea placeholder="点击输入点检备注" rows="3" name="des" [(ngModel)]="Des"></ion-textarea>
            </ion-item>
        </ion-list>
        <ion-list>
            <button ion-item full text-center detail-none type="submit">
                保存
            </button>
        </ion-list>
    </form>

    <ion-list>
        <ion-item-divider>
            <ion-icon name="list-box-outline" color="primary"></ion-icon>
            历史数据
        </ion-item-divider>
        <ion-item-sliding *ngFor="let item of PointHistory">
            <ion-item>
                {{item.ObsName}}
                <ion-note item-end>
                    {{item.SampleTime?item.SampleTime.substr(5,14):''}}
                </ion-note>
            </ion-item>
            <ion-item-options>
                <button ion-button color="danger" (click)="deletePatrolData(item)">删除</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-left (click)="goPre()">
                <ion-icon name="arrow-back"></ion-icon>
                上一条
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-right (click)="goNext()">
                下一条
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>