page-pointList{

    .toolbar-background {
        background-color: color($colors, light) !important;
    }

    .bar-button-default-ios{
        color: color($colors, primary) !important;
    }
    .toolbar-title-ios{
        color: #000 !important;
    }

    .seg-header{
        background-color:color($colors, light)
    }
}